# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
ilsthop
brkgathop
acothop

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Other
__pycache__
.vscode

.cache
Makefile
cmake_install.cmake
CMakeCache.txt
CMakeFiles
build

experiments/saas_hc*
instances/eil51-thop
instances/a280-thop
instances/pr107-thop
instances/dsj1000-thop
solutions
acothop_*
temp*
*.ter.log
log.txt
errcmaes.err

cmaes_data
actparcmaes.par
cmaes_initials.par
cmaes_initials.par
